<ion-header>
  <ion-toolbar>
    <ion-title>
      Mi primera APP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/registro']" expand="block" color="primary">Registrarse</ion-button>
        <div style="text-align: center;"> 
          <span class="divider line one-line">o</span>
        </div>
        <div style="text-align: center;"> 
          <span class="already">Ya tienes una cuenta?</span>
        </div>
        <ion-button [routerLink]="['/login']" expand="block" color="danger">Iniciar sesión</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
