/* Estilo para la barra de encabezado */
ion-header {
  background-color: #3498db; 
}

/* Estilo para el título en la barra de encabezado */
ion-title {
  color: #fff; 
  text-align: center; 
  font-size: 1.5rem; 
  font-weight: bold; 
}
